body {
    background-color: #000;
    font-family: 'Public Sans Roman', sans-serif;
}

@font-face {
    font-family: 'Public Sans Roman';
    src: url('fonts/Public-Sans-Roman-VF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

::selection {
    background-color: #FFAE63;
    color: black;
}

.scrollColumn {
    display: flex;
    flex-direction: column;
}

.container {
    margin-right: 400px;
}

.main {
    width: 100%;
    float: left;
}

.topToolbar {
    height: 60px;
}

.topToolbar input {
    background-color: transparent;
    color: white;
    border: none;
    padding-inline: 40px;
    height: 100%;
    width: 100%;
}

/* #mainCanvas { */
    /* flex-grow: 1; */
/* } */

.sidebar {
    float: right;
    width: 400px;
    margin-right: -400px;

    background-color: #191919;
    color: #a3a3a3;
}

.setting {
    padding: 20px;
    padding-bottom: 0px;
}

canvas.gallery {
    cursor: pointer;
}

canvas.slider {
    margin: 20px;
    cursor: pointer;
}

.site {
    color: #a3a3a3;
    margin-left: 40px;
}
