body {
    background-color: #000;
    font-family: 'Public Sans Roman', sans-serif;
}

@font-face {
    font-family: 'Public Sans Roman';
    src: url('fonts/Public-Sans-Roman-VF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

::selection {
    background-color: #FFAE63;
    color: black;
}

.scrollColumn {
    display: flex;
    flex-direction: column;
}

.container {
    margin-right: 400px;
}

.main {
    width: 100%;
    float: left;
}

.topToolbar {
    height: 60px;
}

.topToolbar input {
    background-color: transparent;
    color: white;
    border: none;
    padding-inline: 40px;
    height: 100%;
    width: 100%;
}
.canvasStack {
    position: relative;
    height: 1000px;
}

.canvasStack canvas{
    position: absolute;
    top: 0;
    left: 0;
}

/* #mainCanvas { */
    /* flex-grow: 1; */
/* } */

.sidebar {
    float: right;
    width: 400px;
    margin-right: -400px;

    background-color: #101010;
    color: #888;
}

.sidebar hr {
    margin-left: 20px;
    line-height: 20px;

    border-top: 1px solid;
    margin: 20px 0px 20px 20px;
}

.setting {
    padding: 20px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
}

.settingChoice {
    text-align: right;
}

canvas.gallery {
    cursor: pointer;
}

canvas.slider {
    padding: 20px;
    cursor: pointer;
}

.site {
    color: #a3a3a3;
    margin-left: 40px;
}
